* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.mr-3 {
  margin-right: 3px;
}
.content__left {
  padding: 20px 10px;
}

/* define root variable  */
/* :root {
  --primary-color: rgb(140, 21, 21);
  --calendar-border-color: var(--primary-color);
}
h1 {
  color: var(--calendar-border-color);
} */
